body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: aqua;
  }
  
  .cabecalho {
    background-color: aquamarine;
    color: black;
    text-align: center;
    padding: 15px;
    border-radius: 12px;
    margin: 20px;
  }
  
  .img {
    max-width: 50%;
    height: auto;
    border-radius: 10px;
    display: block;
    margin: 20px auto;
  }
  
  .sonhos {
    background-color: blueviolet;
    color: black;
    padding: 20px;
    margin: 20px;
    text-align: center;
    font-size: 18px;
    border-radius: 12px;
  }
  